// Your variable overrides
// $body-bg: #000;
// $body-color: #fff;
$primary: purple;
// $navbar-light-color: rgba(0,0,0,0.5);

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue-3/src/styles/styles';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@import './base.css';
@import './app.scss';
